body {
  background: linear-gradient(to top right, #72e4df, #ffefe1);
  overflow-x: hidden;
  font-family: Euclid, sans-serif, Arial, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;

}

.head {
  height: 100vh;
}

.title {
  margin-top: 3rem;
  font-size: 5rem;
  margin-left: 6rem;
  width: 50vw;
  /* text-shadow: 1px 1px 2px black; */
  text-shadow: 3px 2px 5px #3a3737;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1.13px;
}

.image {
  padding-right: 4rem;
  width: 50vw;
}

.head {
  margin-top: 4rem;
  display: flex;
  width: 100vw;
}

.buttonToStart {
  box-shadow: 1px 1px 3px #3a3737;
  cursor: pointer;
  font-size: medium;
  margin-top: 0px;
  color: black;
  font-weight: 700;
  background-color: white;
  width: 10rem;
  height: 3rem;
  border-radius: 20px;
  border: none;
}

.flexbox {
  display: flex;
  width: 80vw;
  margin: auto
}

.result {
  text-align: center;
  padding: 40px;
  border: 3px #949293 dashed;
  width: 30vw;
  height: 30vh;
  margin-left: 5rem;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 10px white;
  background-color: white;
}

.file-img {
  width: 30vw;
  height: 30vh
}